.about__block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.about__img {
    max-width: 550px;
    padding: 10px;
    min-width: 320px;
}

.about__info_A {
    max-width: 500px;
    padding: 10px 10px;
}

.about__info_B {
    min-width: 500px;
    padding: 10px 10px;
    margin-left: 50px;
}

.title {
    max-width: 300px;
    margin-bottom: 10px;
}
.text{
    font-size: 15px;
}
.img {
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}