

/* input{
    border: none;
    outline: none;
    background-color: lightgrey;
    border-radius: 15px;
    height: 33px;
    padding: 3px 8px;
} */



/* --------- healthyProduct ---------- */
/* .healthyProduct{
    background-color: #fff;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 9%) 0 1px 3px;
    margin: 10px;
} */
/* --------- healthyProduct ---------- */
